* {
    font-family: abel, sans-serif;
}

body {
    background-color: #F0F0F0;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 32px;
    display: inline;
}

h5 {
    font-size: 28px;
}

.designmargins {
    margin-top: 70px;
    margin-bottom: 30px;
}

.bkg {
    width: 100%;
    background-color: darkgray;
    height: 15px;
    /*float: left;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*width: 100%;*/
    border-color: white;
    background-color: white;
}

.heading {
    font-size: 32px;
}

.anton {
    font-family: anton, sans-serif;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.frame {
    border: solid 1px black;
}

.linebreak {
    width: 100%;
    height: 2px;
    background-color: #CCCCCC;
    margin-bottom: 100px;
}

.smallicon {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    /*background-color: red;*/
    float: right;
    margin: 5px;
    text-align: center;
    font-size: 12px;
}

.icon1 {
    background-color: #E6563B;
}

.icon2 {
    background-color: #EB9D3A;
}

.icon3 {
    background-color: #7CB06C;
}

.icon4 {
    background-color: #00ABA9;
    margin-right: 40px;
}

.cover {
    /*object-fit: cover;*/
    /*width: 310px;*/
    /*height: 190px;*/
    border: solid 5px #e6e6e6;
    border-radius: 10px;
    box-sizing: content-box;
    padding: 0px;
    margin: 30px 20px 0px 14px;
    width: 100%;
}

/*this fixed the image size problems on "the last" section, try applying it to the selected work section and removing older code to see if it achieves a better outcome*/
img {
    width: 100%;
}

.clear {
    clear: both;
}